@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-white overflow-hidden;
        min-height: 100vh;
    }

    /* Custom Scrollbar Hide */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {

    /* Button Press Effect */
    button:active {
        transform: scale(0.96);
        transition: transform 0.1s;
    }
}